<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="it">
<head th:replace="fragments/base.html :: headerfiles(test)"> </head>
<body>
<header th:replace="fragments/base.html :: intestazione"></header>

<div id="carosello" class="carousel slide" data-bs-ride="true">
    <div th:if="${alert != null}">
        <div th:replace="fragments/base.html :: alert(${alert})"></div>
    </div>
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carosello" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carosello" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carosello" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="/images/camera.jpg" class="d-block w-100 vh-100" alt="camera">
        </div>
        <div class="carousel-item">
            <img src="/images/hotel.jpg" class="d-block w-100 vh-100" alt="hotel">
        </div>
        <div class="carousel-item">
            <img src="/images/ombrelloni.jpg" class="d-block w-100 vh-100" alt="mare">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carosello" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carosello" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
    </div>
    <div class="container">
        <div class="d-flex flex-row mx-5 my-5 justify-content-center align-items-center">
            <div class="col-6">
                <img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQQ49szwVnt3IAJBxcs3oppP7RoHNof4FE3_g&usqp=CAU" alt="...">
            </div>
            <div clas="col-6">Ostia Antica Park Hotel, un nuovo hotel di recentissima costruzione, situato tra la famosa località turistica archeologica di Ostia Antica ed
                il mare di Roma (Ostia Lido), a soli 10 km dall' Aeroporto di Fiumicino Leonardo da Vinci e circa 12 km dal complesso della Nuova Fiera di Roma.
                Ostia Antica Park Hotel è anche location ideale per l'organizzazione di Ricevimenti, Eventi e Matrimoni. Gli incantevoli giardini sempre verdi
                creano un suggestivo scenario adatto ad ogni tipo di meeting, convention aziendali o cerimonie private.</div>
        </div>
        <div class="d-flex flex-row mx-5 my-5 justify-content-center align-items-center">
            <div class="col-6">Nella nostra struttura troverete OTIUM SPA, un nuovo e moderno Centro Benessere dotato di sauna, docce emozionali, bagno turco, idromassaggio,
                zona relax e tisaneria. Per completare il vostro relax l'albergo dispone di solarium e piscina nel giardino collegati alla SPA.</div>
            <div class="col-6">
                <img class="img-fluid" src="/images/spa.jpg" alt="spa">
            </div>

        </div>
        <div class="d-flex flex-row mx-5 my-5 justify-content-center align-items-center">
            <div class="col-6">
                <img class="img-fluid" src="/images/camera_balcone.jpg" alt="balconi">
            </div>
            <div class="col-6">L'hotel dispone di 80 camere singole, doppie e triple, spaziose e confortevoli, quasi tutte dotate di un balcone privato. Sono inoltre disponibili
                 su richiesta camere per non fumatori e per disabili.</div>
        </div>
    </div>
<footer th:replace="fragments/base.html :: footer"></footer>
</body>
</html>
